# ----------------------------
# DVC & Data-related
# ----------------------------
data/*
!data/*.dvc                # Keep DVC tracking files
dvc.yaml
params.yaml
src/predictions.csv
src/bank-loan
# ----------------------------
# Model & Output Artifacts
# ----------------------------
*.pkl
*.csv
*.yaml
*.png
!app/reddit-deployment.yaml
!app/reddit-service.yaml
# ----------------------------
# MLflow Artifacts (models, runs, tracking dbs)
# ----------------------------
**/mlruns/
**/mlflow.db
*.db
*.joblib
mlruns/
src/mlruns/
notebooks/mlruns/
mlflow_test/mlflow-deployment.yaml
mlflow_test/mlflow-service.yaml

# ----------------------------
# Metaflow-related
# ----------------------------
.metaflow/
**/.metaflow/
metaflow-tools/            # Embedded repo you want ignored

# ----------------------------
# System & IDE files
# ----------------------------
.DS_Store

